
body {
	margin:0;
	color: rgb(112, 111, 111);
}

article {
	padding:1em
}

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
	
}
	.row > * {
		width: 50%;
		box-sizing: border-box;
		padding: 0 1em 0 0;
	}


img {
	width: 100%;
}
video {
	width: 100%;
}

.box {
	background: #fff;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 0 1em 0;
}
	.box.last{
		margin:0 0 5em 0
	}

.wrapper {
	background-image: url("images/bg.png");
	box-shadow: inset 0px 15px 0px 0px rgba(0, 0, 0, 0.1), inset 0px 3px 0px 0px rgba(0, 0, 0, 0.30);
	text-align: center;
	text-shadow: 1px 1px 0px rgb(224, 213, 213);
}



a {
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	color: #41a6ce;
	text-decoration: underline;
	text-decoration: none;
}

a:hover {
	color: #b4dd53 !important;
}	

.container {
	margin: 0 auto;
	max-width: calc(100% - 50px);
	width: 1200px;
	font-size:30px
}


	@media screen and (max-width: 1680px) {

		.container {
			width: 1200px;
			font-size:25px;
		}

		

	}

	@media screen and (max-width: 1280px) {

		.container {
			width: 960px;
			font-size:20px;
		}


	}

	@media screen and (max-width: 980px) {

		.container {
			width: 100%;
			font-size:17px;
		}

		

	}

	@media screen and (max-width: 736px) {

		.container {
			width: 100%;
			font-size:15px;
			max-width: calc(100% - 30px);
		}

			.container.medium {
				width: 100%;
			}

	}


